div{
  box-sizing: border-box;
  font-size: 14px;
}
.big-pic-component-div{
  .big-pic-div{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    padding: 10px 5px;
    .pic-container{
      width: 560px;
      height: 100%;
      background-color: #13283d;
      position: relative;
      .pic-adaption{
        height: calc(100% - 40px);
        width: 100%;
      }
      .show-pic-type{
        width: 100%;
        height: 40px;
        line-height: 40px;
        background-color: rgba(0,0,0,0.4);
        position: absolute;
        left: 0;
        bottom: 0;
        color: #3280b9;
        padding: 0 15px;
        .circle-div{
          width: 200px;
          height: 100%;
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: center;
          position: absolute;
          top: 0;
          left: 50%;
          border: 0;
          margin-left: -100px;
          .circle-style{
            width: 16px;
            height: 16px;
            border: 1px solid #466e8c;
            border-radius: 16px;
            cursor: pointer;
            margin: 0 5px;
            &.active{
              background-color: #466e8c;
            }
          }
        }
      }
    }
    .right-div{
      flex: 1;
      margin-left: 6px;
      display: flex;
      .right-pic-container{
        flex: 1;
        display: flex;
        flex-direction: column;
        &>div{
          flex: 1;
          display: flex;
          flex-direction: column;
        }
        .top-div{
          display: flex;
          flex-direction: row;
          width: 100%;
          height: 130px;
          .pic-div{
            width: 130px;
            height: 130px;
            background-color: #13283d;
          }
          .similarity-div{
            flex: 1;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            &>span{
              color: #ff5252;
              text-decoration: underline;
            }
            .icon-similarity{
              width: 57px;
              height: 15px;
              background: url("./images/icon-similarity.png") 0 0 no-repeat;
            }
          }
        }
        .bottom-div{
          margin-top: 10px;
          padding: 5px;
          flex: 1;
          display: flex;
          flex-direction: column;
          color: white;
          background-color: #13283d;
          position: relative;
          .bottom-row-div{
            display: flex;
            flex-direction: row;
            align-items: center;
            .action-btn-style{
              width: 85px;
              height: 30px;
              line-height: 30px;
              color: white;
              cursor: pointer;
              text-align: center;
              margin: 5px 10px;
              &.btn-red{
                border: 1px solid #ff2f2f;
                background: rgba(169,46,46,.46);
              }
              &.btn-normal{
                border: 1px solid #0a96ff;
                background: rgba(5,92,158,.46);
              }
              &.not-allowed{
                cursor: not-allowed;
              }
            }
          }
          .text-title{
            text-align: justify;
            width: 60px;
            height: 20px;
            line-height: 20px;
            &:after{
              content: "";
              width: 100%;
              display: inline-block;
            }
          }
          .row-info{
            height: 25px;
            line-height: 25px;
          }
          .label-div{
            width: 100%;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            .label-style{
              box-sizing: border-box;
              min-width: 90px;
              height: 25px;
              border-radius: 25px;
              display: flex;
              flex-direction: row;
              align-items: center;
              justify-content: center;
              //color: #00cdd5;
              //border: 1px solid #00cdd5;
              //padding: 0 10px;
              margin: 5px 5px 0 0 ;
            }
          }
          .time-div{
            width: 100%;
            display: flex;
            flex-direction: column;
            position: absolute;
            bottom: 0;
            left: 0;
          }
        }
        .log-div{
          /deep/.table-div{
            flex: 1;
            display: flex;
            flex-direction: column;
            .el-table th, .el-table tr{
              background-color: #0f2d49;
              color: white;
              font-size: 14px;
            }
            .el-table td, .el-table th.is-leaf{
              border-bottom: unset;
            }
            .el-table, .el-table__expanded-cell{
              background-color: unset;
            }
            .el-table--enable-row-transition .el-table__body td{
              background-color: #13283d;
              color: white;
            }
            .el-table::before{
              height: unset;
            }
            .el-table__fixed-right::before, .el-table__fixed::before{
              height: unset;
            }
          }
          /deep/.page-div{
            width:100%;
            height: 30px;
            background-color: #0b1825;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            .el-pagination{
              display: flex;
              align-items: center;
              justify-content: center;
              padding: unset;
            }
            .el-pagination button:disabled{
              color: #1c3955;
              background-color: #0b1825;
            }
            .el-pagination .btn-next, .el-pagination .btn-prev{
              color: #1d8dd2;
              background-color: #0b1825;
            }
            .el-pager{
              color: white;
            }
            .el-pager li{
              background-color: #0b1825;
            }
          }
        }
      }
      .normal-right-div{
        display: flex;
        flex-direction: column;
        justify-content: center;
        color: white;
        &>div{
          display: flex;
          flex-direction: row;
        }
        .column-style-div{
          display: flex;
          flex-direction: column;
          &>div{
            display: flex;
            flex-direction: row;
            height: 26px;
            align-items: center;
          }
          .special-pos-style{
            justify-content: space-between;
          }
        }
      }
    }
  }
  .big-pic-middle{
    width: 100%;
    height: 60px;
    padding: 0 50px;
    .confirm-div-style {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
    }
    .close-log-div{
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-end;
    }
  }
  .big-pic-bottom{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: white;
    .icon-direction{
      width: 28px;
      height: 28px;
      cursor: pointer;
    }
    .icon-left{
      background: url("./images/icon-left.png");
      margin-right: 25px;
      &.active{
        background: url("./images/icon-right.png");
        transform: rotate(180deg);
      }
    }
    .icon-right{
      background: url("./images/icon-right.png");
      margin-left: 25px;
      &.active{
        background: url("./images/icon-left.png");
        transform: rotate(180deg);
      }
    }
    .bottom-pic-box{
      width: 675px;
      height: 100%;
      display: flex;
      flex-direction: row;
      align-items: center;
      .pic-box{
        width: 56px;
        height: 56px;
        border: 3px solid transparent;
        margin: 0 6px;
        cursor: pointer;
        &.active{
          border-color: #ff5757;
        }
      }
    }
    .show-text-index-div{
      min-width: 75px;
      display: flex;
      flex-direction: row;
      justify-content: center;
    }
  }
  .btn-style{
    width: 80px;
    height: 30px;
    border-radius: 30px;
    text-align: center;
    line-height: 30px;
    color: white;
    cursor: pointer;
    &.btn-blue{
      background-color: #30a5ed;
      margin: 0 10px;
    }
  }
  .special-color{
    color: #30a5ed;
    text-decoration: underline;
    cursor: pointer;
  }
  .red-color-style{
    color: #ff5757;
    text-decoration: underline;
    cursor: pointer;
  }
  .no-warp-style{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .id-card-style{
    width: 160px;
    height: 26px;
    box-sizing: border-box;
    border: 1px solid #30a5ed;
    color: #30a5ed;
    line-height: 26px;
    text-align: center;
    //cursor: pointer;
    background-color: white;
    border-radius: 26px;
    margin: 5px 0;
  }
}
